.banner{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #F2AC38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    max-width: 600px;
    width: 100%;
}

.title p{
    text-align: left;
    font-size: 22px;
    font-weight: 400;
}

.enlace{
    display: flex;
    gap: 10px;
}

.banner h1{
    font-size: 50px;
    color: #000000;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 991px) {
    .banner h1{
        font-size: 40px;
    }
    .enlace {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .banner h1{
        font-size: 30px;
    }
    .title p{
        font-size: 18px;
    }
}