
/*RESPONSIVE*/
@media (max-width: 950px) {
    .styleSli{
        width: 98% !important;
    }
}

@media (max-width: 750px) {
    .styleSli{
        margin-left: -20px !important;
        width: 100% !important;
        height: 400px !important;
    }
}
