.section {
    width: 100%;
    height: 100%;
    background-image: url("/images/amala/fondo/fondo-footer.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}

.general {
    max-width: 80%;
    width: 100%;
    padding: 300px 0 50px 0;
    display: flex;
    gap: 60px;
}

@media (max-width: 1280px){
    .general{
        max-width: 90%;
        padding: 300px 0 50px 0;
        gap: 30px;
    }
}
@media (max-width: 960px){
    .section{
        justify-content: center;
        align-items: center;
    }
    .general{
        padding: 150px 0 50px 0;
        display: block;
    }
}