.title {
  background: linear-gradient(104deg, #FD8E56 23.97%, #6F00F9 65.09%, #FD8E56 75.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins, sans-serif;
}