.title {
    background: linear-gradient(104deg, #FD8E56 32.97%, #6F00F9 60.09%, #FD8E56 70.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: Poppins, sans-serif;
}