.general {
    width: 290px;
    height: 709px;
    background-color: #F9F9F9;
    position: sticky;
    top: 0;
    padding: 30px;
}

.content_1 h2 {
    color: #100146;
    font-size: 24px;
    font-weight: bold;
}

.content_1 p {
    font-size: 17px;
    font-weight: bold;
}

.content_range {
    display: flex;
    justify-content: space-between;
}

.content_range p {
    font-size: 17px;
    font-weight: 500;
}

.valor_filtro{
    display: flex;

}
.valor_filtro div{
    width: 100%;
}

.valor_filtro p {
    border: solid 1px #8C15E4;
    height: 100%;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_2{
    margin-top: 20px;
}

.content_2 h2{
    font-size: 17px;
    font-weight: bold;
}

.content_2 p{
    font-size: 17px;
    font-weight: 400;
}

.content_3{
    margin-top: 20px;
}

.content_3 h2{
    font-size: 17px;
    font-weight: bold;
}