@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,400&display=swap');
:root {
    --color-backgroud: #F7F7F7;
    --color-primary: #EF5A0F;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --background-buttom: linear-gradient(180deg, #F50 61.98%, #FFF 100%);
  }

* {
  scroll-behavior: smooth !important;
}

h1, h2, h3 {
  font-family: var(--font-primary);
}
p{
  font-family: var(--font-secondary);
}
strong{
  color: var(--color-primary);  
}
#button-go{
  background: linear-gradient(90deg, #F50 61.98%, #FFF 100%);
}

.scrollBar::-webkit-scrollbar{
  display: none;
}