.mapa {
    width: 100%;
    overflow: hidden;
}

.mapa iframe {
    width: 100%;
    border: 0;
}

.general_ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.general_ubicacion .container_title {
    max-width: 1200px;
    width: 100%;
    padding: 0 40px;
}

.general_ubicacion .container_title h2 {
    font-size: 24px;
    color: #100146;
    font-weight: bold;
    margin-bottom: 40px;
}

.info_ubicacion {
    padding: 40px 300px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, minmax(200px, 400px));
}

.info_ubicacion p {
    position: revert;
    font-size: 17px;
    color: #0B0C44;
    display: flex;
    gap: 15px;
}

.tramado_fechas {
    right: 0;
    transform: rotate(180deg);
    position: absolute;
    width: 400px;
}

@media (max-width: 1300px) {
    .tramado_fechas {
        width: 300px;
    }
    .info_ubicacion {
        padding: 40px 200px;
    }
}

@media (max-width: 1135px) {
    .tramado_fechas {
        width: 200px;
    }
    .info_ubicacion {
        padding: 40px 100px;
    }
}

@media (max-width: 991px) {
    .tramado_fechas {
        display: none;
    }
    .info_ubicacion {
        padding: 40px 40px;
    }

}

@media (max-width: 596px) {
    .info_ubicacion {
        grid-template-columns: 1fr;
    }
}
