.card_apartamento {
    display: flex;
    width: 100%;

}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title p {
    font-size: 18px;
    font-weight: 600;
    color: #8C15E4;
}

.precio {
    font-size: 18px;
    font-weight: 600;
    color: #0B0C44;
}

.card_apartamento .info {
    padding: 20px 40px;
    box-shadow: 0px 0px 20px 2px #0b0c4424;
}

.caracteristicas {

}

.card_apartamento .title h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.botones {
    display: flex;
    gap: 10px;
}

.botones button {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: #0B0C44;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botones button:hover {
    background-color: #8C15E4;
}

@media (max-width: 1240px) {
    .card_apartamento {
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .card_apartamento {
        flex-direction: row;
    }

}

@media (max-width: 629px) {
    .card_apartamento {
        flex-direction: column;
    }
}
