.general {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171962;
}

.general iframe {
    width: 50%;
    height: 500px;
}

.card form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    gap: 15px;
    width: 400px;
    height: 400px;
    background-color: #0B0C44;
    box-shadow: 0 0 20px 0px rgb(11 12 68);
}

.card input {
    width: 100%;
    height: 40px;
    border: 1px solid #b748ff;
    background-color: transparent;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    color: #8C15E4;
    transition: all 0.3s ease;
}

.card input::placeholder {
    color: #8C15E4;
    font-size: 14px;
}

.card input:focus {
    outline: none;
    border: 1px solid rgba(140, 21, 228, 0.38);
}

.card button {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    background-color: #8C15E4;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card button:hover {
    background-color: #b748ff;
    box-shadow: 0 0 20px 0px rgb(140 21 228 / 38%);
    transform: translateY(-5px);
}

.iframeStyle {
    min-height: 500px;
    border-radius: 22px;
    box-shadow: 0px 0px 5px 2px #004065a6;
}

.iframeContainer {
    height: 500px;
    width: 450px;
    border-radius: 22px;
    box-shadow: 0px 0px 5px 2px #004065a6;
}
