.principal_image{
    margin-top: 110px;
    background-image: url("/images/content/bodas/section1/Pilar_Diaz.jpg");
    background-size: cover;
    background-position: 100% 25%;
    height: 650px;
    z-index: -1;
}

.texts{
    padding-left: 90px;
}

.title h1{
    margin-top: 300px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.description p{
    color: black;
    font-weight: bold;
    font-size: 12px;
    width: 300px;
    text-align: justify;
}

.btn_video button{
    margin-top: 40px;
    font-size: 12px;
    font-weight: bold;
    height: 38px;
    width: 160px;
    border: 1px solid;
    border-color: #FF4632;
    border-radius: 30px;
    background-size: 100% auto;
    background-color: white;
    color: #000000;
    transition: 1s ease-in-out;
}

.btn_video button:hover{
    transition: 0.5s ease-in-out;
    background: #FF4632;
    color: white;
    transform: translateY(-5px);
}

.btn_video a{
    font-size: 14px;
}

.btn_video i{
    margin-left: 12px;
}

.col3{
    background-image: url("/images/content/bodas/section1/degrade.png");
    background-size: cover;
    background-position: center;
}

.beauty_img{
    margin-left: 50px;
    overflow: hidden;
}

.beauty_img img{
    width: 300px;
}

.modal_body{
    height: 500px;
    margin-top: -20px;
}

.btn_close div i{
    font-size: 36px;
    font-weight: bold;
}

@media (max-width: 1300px) {
    .texts{
        padding-left: 30px;
    }
    .description p{
        width: 200px;
    }
}

@media (max-width: 760px) {
    .principal_image{
        height: 250px;
    }
    .texts{
        margin-top: -250px;
        padding-left: 10px;
    }
    .title{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .title p{
        margin-top: 50px;
    }

    .description{
        display: flex;
        justify-content: center;
    }
    .description p{
        text-align: center;
    }

    .btn_video{
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
}
