.formulario {
    order: 2;
    flex: 0 50%;
}

.currency{
    height: 30px;
    margin-left: -10px;
    margin-top: 3px;
    border: 1px solid #8C15E4;
}

.formulario .card {
    width: 100%;
    height: 100%;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario .card .content {
    display: flex;
    justify-content: space-between;
}

.formulario .card .content p {
    font-size: 24px;
    color: #100146;
}

.formulario .card .content .calificacion {
    font-size: 17px;
    color: #100146;
}

.formulario .card .content .calificacion i {
    color: #8C15E4;
}

.formulario .card .content p span {

    font-weight: 600;

}

@media (max-width: 888px) {

    .formulario .card .content p {
        font-size: 18px;
    }

    .formulario .card .content .calificacion {
        font-size: 10px;
    }

}

@media (max-width: 888px) {
    .currency{
        margin-left: 10px;
    }
}
