.general{
    max-width: 1450px;
    width: 100%;
}
.section {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_reservar {
    width: 168px;
    height: 52px;
    background-color: #8C15E4;
    color: #ffffff;
    border-radius: 0;
}


.info_general {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

/* RESPONSIVE */

@media (max-width: 991px) {
    .section {
        padding: 0 40px;
    }
}

@media (max-width: 767px) {
    .info_general {
        display: block;
    }
}
/*Media 500px*/
@media (max-width: 500px) {
    .general{
        width: 100%;
    }
    .info_general {
        display: block;
    }
}
