.banner_herramienta {
    position: relative;
    margin: 120px 0;
    width: 100%;
    height: 180px;
    background-color: #F2AC38;
    border-radius: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}

.banner_herramienta:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px 0 rgba(189, 123, 0, 0.55);
}

.multimedia {
    position: absolute;
    right: 100px;
    bottom: 10px;
}
.content{
    position: relative;
    left: 100px;
    width: 300px;
}
.content a {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F2AC38;
    text-decoration: none;
    font-weight: bolder;
    background-color: #000000;
    transition: 1s;
}

.content a:hover{
    color: #000000;
    background-color: #F2AC38;
    border: 2px solid #000000;
}


@media (max-width: 1005px) {
    .multimedia img{
        width: 300px;
    }
    .multimedia {
        bottom: 50px;
    }
}

@media (max-width: 842px) {
    .multimedia{
        position: absolute;
        right: 10px;
    }
    .content{
        left: 50px;
    }
}

@media (max-width: 767px) {
    .multimedia{
        position: relative;
        right: 0;
        bottom: 100px;
    }
    .content{
        position: relative;
        left: 0;
        bottom: 50px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner_herramienta{
        padding: 40px;
        height: 250px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}